# MGNREGA DATA ANALYSIS

## This dataset provides detailed insights into the implementation of the **Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA)** across various Indian states and districts from 2014 to 2022. It captures critical parameters such as:

- Number of job cards issued
- Households demanding and allotted work
- Person-days of employment generated (including gender-wise split)
- Financial disbursements (via banks and post offices)
- Participation of SC/ST communities
- District and state-level summaries

The dataset enables a deep dive into rural employment patterns, gaps in work allocation, and fund distribution efficiency — making it a powerful tool for both data-driven governance and academic exploration.

LOADING DATSET

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
df=pd.read_csv("C:\\Users\\ASUS\\Desktop\\DATASETS\\knndap.niti.gov (2).csv")
df.head()

,srcYear,srcStateName,srcDistrictName,Households that applied for a Job Card,Job Cards issued,Job Cards issued for Scheduled Caste,Job Cards issued for Scheduled Tribes,Job Cards issued for non Scheduled Tribes or Scheduled Caste,Households that demanded work,Persons who demanded work,...,Total bank accounts,Individual bank accounts,Joint bank accounts,Amount disbursed to bank accounts,Post office accounts,Individual post office accounts,Joint post office accounts,Amount disbursed to post office accounts,Year,YearCode
0,2011-12,WEST BENGAL,COOCHBEHAR,602112,602043,317446,5923,278674,298510,330033,...,105235,94052,11183,125943230,255797,225556,30241,311088943,"Financial Year (Apr - Mar), 2011",2011
1,2011-12,WEST BENGAL,BIRBHUM,658227,658163,221090,51506,385567,469323,747447,...,181900,115403,66497,650354141,469576,347648,121928,1470018793,"Financial Year (Apr - Mar), 2011",2011
2,2011-12,WEST BENGAL,BANKURA,579173,579049,231214,70983,276852,327474,654422,...,83145,52872,30273,206025728,228346,136710,91636,563641705,"Financial Year (Apr - Mar), 2011",2011
3,2011-12,WEST BENGAL,24 PARGANAS SOUTH,822194,822020,181933,5907,634180,197023,281701,...,66080,56409,9671,138370561,108978,82659,26319,257047048,"Financial Year (Apr - Mar), 2011",2011
4,2011-12,WEST BENGAL,24 PARGANAS (NORTH),741737,741584,223175,33798,484611,339623,470852,...,228612,171563,57049,610591153,342725,259657,83068,842944905,"Financial Year (Apr - Mar), 2011",2011

In [7]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 44 columns):
 #   Column                                                                                         Non-Null Count  Dtype
---  ------                                                                                         --------------  -----
 0   srcYear                                                                                        6368 non-null   object
 1   srcStateName                                                                                   6368 non-null   object
 2   srcDistrictName                                                                                6368 non-null   object
 3   Households that applied for a Job Card                                                         6368 non-null   int64
 4   Job Cards issued                                                                               6368 non-null   int64
 5   Job Cards issued for Scheduled Caste                                                           6368 non-null   int64
 6   Job Cards issued for Scheduled Tribes                                                          6368 non-null   int64
 7   Job Cards issued for non Scheduled Tribes or Scheduled Caste                                   6368 non-null   int64
 8   Households that demanded work                                                                  6368 non-null   int64
 9   Persons who demanded work                                                                      6368 non-null   int64
 10  Households that were allotted work                                                             6368 non-null   int64
 11  Persons that were allotted work                                                                6368 non-null   int64
 12  Muster Rolls filled                                                                            6368 non-null   int64
 13  Households that worked under Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA)  6368 non-null   int64
 14  Persons that worked under Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA)     6368 non-null   int64
 15  Households that reached a 100 day limit                                                        6368 non-null   int64
 16  Persons with disability                                                                        6368 non-null   int64
 17  Non Scheduled Tribes or Scheduled Caste households that worked                                 6368 non-null   int64
 18  Total Person days worked by non Scheduled Tribes or Scheduled Caste persons                    6368 non-null   int64
 19  Scheduled Caste households that worked                                                         6368 non-null   int64
 20  Total Person days worked Scheduled Caste persons                                               6368 non-null   int64
 21  Scheduled Tribe households that worked                                                         6368 non-null   int64
 22  Total Person days worked Scheduled Tribe persons                                               6368 non-null   int64
 23  Households that worked on land reform or Indira Awas Yojana                                    6368 non-null   int64
 24  Total Person days worked by women                                                              6368 non-null   int64
 25  Total Person days                                                                              6368 non-null   int64
 26  Scheduled Caste households that reached a 100 Day Limit                                        6368 non-null   int64
 27  Scheduled Tribe households that reached a 100 Day Limit                                        6368 non-null   int64
 28  Labour expenditure that has been disbursed                                                     6314 non-null   float64
 29  Material expenditure that has been disbursed                                                   6314 non-null   float64
 30  Labour expenditure both disbursed and pending                                                  6314 non-null   float64
 31  Material expenditure both disbursed and pending                                                6314 non-null   float64
 32  Amount sanctioned                                                                              6314 non-null   float64
 33  Works under Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA)                   6314 non-null   float64
 34  Total bank accounts                                                                            6368 non-null   int64
 35  Individual bank accounts                                                                       6368 non-null   int64
 36  Joint bank accounts                                                                            6368 non-null   int64
 37  Amount disbursed to bank accounts                                                              6368 non-null   int64
 38  Post office accounts                                                                           6368 non-null   int64
 39  Individual post office accounts                                                                6368 non-null   int64
 40  Joint post office accounts                                                                     6368 non-null   int64
 41  Amount disbursed to post office accounts                                                       6368 non-null   int64
 42  Year                                                                                           6368 non-null   object
 43  YearCode                                                                                       6368 non-null   int64
dtypes: float64(6), int64(34), object(4)
memory usage: 2.1+ MB

,Households that applied for a Job Card,Job Cards issued,Job Cards issued for Scheduled Caste,Job Cards issued for Scheduled Tribes,Job Cards issued for non Scheduled Tribes or Scheduled Caste,Households that demanded work,Persons who demanded work,Households that were allotted work,Persons that were allotted work,Muster Rolls filled,...,Works under Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA),Total bank accounts,Individual bank accounts,Joint bank accounts,Amount disbursed to bank accounts,Post office accounts,Individual post office accounts,Joint post office accounts,Amount disbursed to post office accounts,YearCode
count,6.368000e+03,6.368000e+03,6368.000000,6368.000000,6.368000e+03,6368.000000,6.368000e+03,6368.000000,6.368000e+03,6.368000e+03,...,6.314000e+03,6.368000e+03,6.368000e+03,6368.000000,6.368000e+03,6368.000000,6368.000000,6368.000000,6.368000e+03,6368.000000
mean,2.016431e+05,1.965364e+05,41379.074592,25817.195666,1.293401e+05,83431.872802,1.296206e+05,83240.350503,1.291719e+05,7.493025e+04,...,1.123027e+05,1.609514e+05,1.479356e+05,13015.837312,4.708224e+08,30585.146671,26833.991049,3751.155622,4.655634e+07,2015.498587
std,1.768031e+05,1.722818e+05,50846.652306,41122.073623,1.283862e+05,88920.617872,1.450234e+05,88714.019521,1.444940e+05,1.148541e+05,...,1.655803e+05,1.812736e+05,1.753486e+05,25514.660006,6.832622e+08,75702.228687,72340.953638,9972.156319,1.625753e+08,2.871850
min,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,...,3.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,2011.000000
25%,7.566050e+04,7.370875e+04,8092.250000,844.750000,3.729175e+04,28066.000000,3.958650e+04,28030.000000,3.951400e+04,1.264275e+04,...,2.343900e+04,4.031075e+04,3.003175e+04,871.750000,7.213928e+07,123.750000,104.000000,1.000000,0.000000e+00,2013.000000
50%,1.606835e+05,1.570050e+05,25098.000000,7979.500000,9.855200e+04,57857.000000,8.725200e+04,57696.500000,8.697550e+04,3.515250e+04,...,6.569050e+04,1.119150e+05,9.599000e+04,3989.500000,2.343758e+08,4721.500000,3698.000000,188.000000,3.962050e+04,2015.000000
75%,2.668378e+05,2.599545e+05,54892.250000,35124.750000,1.770348e+05,103826.000000,1.607148e+05,103629.500000,1.600880e+05,8.843775e+04,...,1.339548e+05,2.150372e+05,2.011562e+05,13435.750000,5.783000e+08,26823.500000,20705.750000,2390.250000,1.582697e+07,2018.000000
max,1.495713e+06,1.284676e+06,418915.000000,364375.000000,1.052879e+06,845835.000000,1.408523e+06,845569.000000,1.408250e+06,1.184909e+06,...,2.743809e+06,1.759778e+06,1.594499e+06,359968.000000,1.020735e+10,991749.000000,991749.000000,158417.000000,3.006468e+09,2020.000000

In [9]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.columns[:10]

Index(['srcyear', 'srcstatename', 'srcdistrictname',
       'households_that_applied_for_a_job_card', 'job_cards_issued',
       'job_cards_issued_for_scheduled_caste',
       'job_cards_issued_for_scheduled_tribes',
       'job_cards_issued_for_non_scheduled_tribes_or_scheduled_caste',
       'households_that_demanded_work', 'persons_who_demanded_work'],
      dtype='object')